# Flutter / Dart
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/*.iml
**/.idea/
**/.gradle/
**/Pods/
**/.symlinks/
**/ephemeral/

# Credenciais locais
.env
.env.local
.env.*.local

# SO / editor
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Netlify
.netlify/

# Dependencies
node_modules/
